<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script type="text/javascript" src="/scripts/home.js"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">

  <div class="row">
      <% if (usedAppList) { %>
      <% usedAppList.forEach(function(r) { %>
          <div class="col-md-3"><%- include('../partials/app.ejs', {appName: r.name}); %></div>
      <% }); } %>

      <div class="col-md-3"><% include ../partials/moreApps.ejs %></div>
  </div>
</div>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Getting Started with Node on Heroku</h1>
    <p>This is a sample Node application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started with Node</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>

<div id="changeAppsOverlay">
  <h3>From our list of apps, please check the apps you would like to see on your home screen.</h2>
  <form action="/updateHomeScreen" method="post">
    <div class="appSelection">
      <p>Select any of these apps you want to <strong>remove</strong> from your home screen</p>

      <div class="form-check">
        <% if (usedAppList) { %>
        <% usedAppList.forEach(function(r) { %>
          <div class="checkItem">
              <input type="checkbox" id="app<%= r.name %>" class="form-check-input" name="del_<%= r.name %>">
              <label for="app<%= r.name %>" class="form-check-label"><%= r.name %></label>
          </div>
        <% }); } %>
      </div>
    </div>

    <div class="appSelection">
      <p>Select any of these apps you want to <strong>add</strong> to your home screen</p>
      <div class="form-check">
          <% if (unusedAppList) { %>
          <% unusedAppList.forEach(function(r) { %>
            <div class="checkItem">
                <input type="checkbox" id="app<%= r.name %>" class="form-check-input" name="add_<%= r.name %>">
                <label for="app<%= r.name %>" class="form-check-label"><%= r.name %></label>
            </div>
          <% }); } %>
      </div>
    </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    
  </form>
</div>

</body>
</html>
